body
{
	background-color: #265B6A;
	font-family: algerian; /* doesn't work */
}

header
{

}

h1.title
{
	font-size: 56px;
	text-align: center;
	color: #D4A06A;
}

p.email
{
	color: blue;
	text-align: center;
	color: #D4A06A;
}

img.logo
{
	padding-left: 30%;
	width: 40%;
	padding-right: 30%;
}

footer
{
	position: fixed;
	width: 100%;
	bottom: 0px;
}