body
{
	background-color: #265B6A;
	font-family: algerian; /* doesn't work */
}

header
{
	position: fixed;
	width: 100%;
	top: 0px;
}

nav
{
	width: 100%;
}

ul
{
	width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover
{
    background-color: #111;
}

h1.title
{
	font-size: 56px;
	text-align: center;
	color: #D4A06A;
}

p.email
{
	color: blue;
	text-align: center;
	color: #D4A06A;
}

img.logo
{
	padding-top: 5%;
	padding-left: 30%;
	width: 40%;
	padding-right: 30%;
}

footer
{
	position: fixed;
	width: 100%;
	bottom: 0px;
}