@font-face
{
    font-family: "Lobster";
    src: url("../fonts/lobster.otf") format("truetype");
}

.lobsterfont
{
    font-family: "Lobster", Verdana, Tahoma;
}

body
{
  background-image: url("../../img/background-mobile.jpg");
}